```python
    range()
```

Syntax:
```python
    range(start, end, step)
    # start is included
    # end is excluded
    # step is the jump size
    # similar to slicing
```

range() generates numbers in the given range

In [1]:
for num in range(0, 10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
# specifying a step
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

In [4]:
# it's a generator
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

```python
    enumerate()
```

Syntax:
```python
    enumerate(iterable)
```

<i>iterable</i> can be a list, string, dictionary, tuple, etc.

Returns a <i>tuple</i>

In [6]:
# replicate this using an enumerator
index = 0
word = 'abcde'
for letter in word:
    print(f"Letter '{letter}' at index {index}")
    index += 1

Letter 'a' at index 0
Letter 'b' at index 1
Letter 'c' at index 2
Letter 'd' at index 3
Letter 'e' at index 4

In [8]:
# returns tuples
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [9]:
# unpacking the returned tuple
for index, letter in enumerate(word):
    print(f"Letter '{letter}' at index {index}")

Letter 'a' at index 0
Letter 'b' at index 1
Letter 'c' at index 2
Letter 'd' at index 3
Letter 'e' at index 4

```python
    zip()
```

Syntax:
```python
    zip(lists...)
```

Returns a <i>tuple</i>

Ignores the extra elements in a list

In [20]:
list1 = [1, 2, 3, 4, 5] # 4 and 5 will be ignored
list2 = ['a', 'b', 'c']

for item in zip(list1, list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [11]:
list3 = ['harry', 'potter']

list(zip(list1, list2, list3))

[(1, 'a', 'harry'), (2, 'b', 'potter')]

```python
    in
```

In [12]:
# lists
denom = [10, 20, 50, 100, 500, 1000]

200 in denom

False

In [13]:
# strings
'e' in "Hello World"

True

In [14]:
# dictionaries
d = {'a':1, 'b':2, 'c':3}

'b' in d    # by default searches for keys

True

In [15]:
# for items in a dictionary
4 in d.items()

False

```python
    min()
```

```python
    max()
```

In [16]:
mylist = [2, 4, 6, 5, 3, 10, 1]

In [17]:
min(mylist)

1

In [18]:
max(mylist)

10

```python
    shuffle()
```

In [27]:
from random import shuffle

In [22]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
# run 1
shuffle(num)
num

[3, 0, 4, 5, 7, 6, 9, 2, 8, 1]

In [30]:
# run 2
shuffle(num)
num

[3, 9, 5, 7, 8, 6, 1, 2, 0, 4]

In [24]:
print(shuffle(num))

None

^|^ in-place, returns nothing

```python
    randint()
```

Syntax:
```python
    randint(lowBound, upBound)
```

Returns a random number in the given range

In [33]:
from random import randint

In [34]:
# run 1
randint(0, 100)

75

In [35]:
# run 2
randint(0, 100)

64

Taking input from the user...

```python
    input()
```

In [36]:
input("Enter your age: ")

Enter your age: 21

'21'

In [38]:
name = input("What's your name? ")
print(f"Hey, {name}!")

What's your name? Chaitanya
Hey, Chaitanya!

## List Comprehensions

```python
    .append()
```

In [39]:
mystring = 'hello'

In [40]:
mylist = []

for ltr in mystring:
    mylist.append(ltr)

In [41]:
mylist

['h', 'e', 'l', 'l', 'o']

^|^ memory inefficient

In [42]:
mylist = [ltr for ltr in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [43]:
another_list = [num * 2 for num in range(0, 10)]
another_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [44]:
# if
only_evens = [num for num in range(0, 10) if num % 2 == 0]
only_evens

[0, 2, 4, 6, 8]

In [45]:
# kmph to mps
kmph = [20, 40, 60, 80, 100]

mps = [speed * 5 / 18 for speed in kmph]
mps

[5.555555555555555,
 11.11111111111111,
 16.666666666666668,
 22.22222222222222,
 27.77777777777778]

In [46]:
# if and else
results = [x if x ** 2 > 16 else 'no' for x in range(0, 10)]
results

['no', 'no', 'no', 'no', 'no', 5, 6, 7, 8, 9]

In [48]:
# nested loop
for x in [2, 4, 6]:
    for y in [1, 2, 3]:
        print(x ** y)

2
4
8
4
16
64
6
36
216

In [49]:
mylist = [x ** y for x in [2, 4, 6] for y in [1, 2, 3]]
mylist

[2, 4, 8, 4, 16, 64, 6, 36, 216]