# Lambda Expressions

Anonymous functions

```python
    map()
```

- Takes a `function` as an argument
- An `iterable` as the second argument

In [1]:
def square(n):
    return n * n

In [2]:
my_nums = [1, 2, 3, 4, 5]

In [3]:
for num in map(square, my_nums):
    print(num)

1
4
9
16
25

In [5]:
# results in a list
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [6]:
# a little more complex function
def splicer(string):
    if len(string) % 2 == 0:
        return 'Even'
    else:
        return 'Odd'

In [7]:
strings = ['abc', 'hello', 'hi', 'program']

In [8]:
list(map(splicer, strings))

['Odd', 'Odd', 'Even', 'Odd']

```python
    filter()
```

In [9]:
def is_odd(num):
    return not num % 2 == 0

In [10]:
my_nums = [10, 6, 5, 3, 12, 99, 69, 74, 61]

In [11]:
list(filter(is_odd, my_nums))

[5, 3, 99, 69, 61]

Converting the cube function to a lambda

In [13]:
def cube(n):
    return n ** 3

In [15]:
# testing
cube(5)

125

- doesn't require the `def` keyword
- doesn't require the `return` keyword
- definition can be written in one line

In [16]:
# to lambda
lambda num : num ** 3

In [17]:
list(map(lambda num : num ** 3, my_nums))

[1000, 216, 125, 27, 1728, 970299, 328509, 405224, 226981]

In [18]:
# extracting the first character from a string
list(map(lambda st : st[0], strings))

['a', 'h', 'h', 'p']